<div id="main-container">
    <div id="top-container">
        <div class="half">
            <div id="historias" class="logo" (click)="goToLandingPage()"></div>
            <div class="logo"><!--Vacío--></div>
        </div>
        <div class="half">
            <div id="javeriana" class="logo"></div>
            <div id="prosofi" class="logo"></div>
            <div id="observatorio" class="logo"></div>
        </div>
    </div>
    <div id="bottom-container">
        <div class="blank"></div>
        <button (click)="goToConoceMas()">Conoce más del proyecto</button>
        <button>Revisión documental La Flora</button>
        <button (click)="goToDatos()">Datos cuantitativos</button>
        <button (click)="goToContarHistoria()">Quiero contar mi historia</button>
        <div class="blank"></div> 
    </div>
</div>