*{
    border: 1px solid red;
    /* font-family: "Jost", sans-serif; */
}

#main-container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: #2635bf;
}

#buttons-container{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#buttons-container button{
    border-radius: 100%;
    width: 8em;
    height: 8em;
    font-size: 2em;
    background-color: #D9D9D9;
}

button{
    font-family: "Jost", sans-serif !important;
}