<div id="buttons-container">
    <span>Ingresa a estos sitios para 
        <br>
        conocer más de La Flora</span>
    <button class="btnLaFlora">
        <img src="../../assets/btnLaFlora.png" alt="">
    </button>
    <button class="btnObservatorio">
        <img src="../../assets/btnOJD.png" alt="">
    </button>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <img src="logo.png" alt="Logo Universidad Javeriana" class="footer-logo">
            <p>Pontificia Universidad Javeriana<br>Bogotá</p>
            <p>Tel: (+57) 601 320 8320<br>Cra 7 No 40 - 62</p>
            <div class="social-icons">
                <img src="facebook-icon.png" alt="Facebook">
                <img src="twitter-icon.png" alt="Twitter">
                <img src="instagram-icon.png" alt="Instagram">
                <img src="youtube-icon.png" alt="YouTube">
                <img src="linkedin-icon.png" alt="LinkedIn">
            </div>
        </div>
        <div class="footer-center">
            <h4>Enlaces rápidos</h4>
            <ul>
                <li><a href="#">AUSJAL</a></li>
                <li><a href="#">Colombia Aprende</a></li>
                <li><a href="#">Colombia Científica</a></li>
                <li><a href="#">HUJIS</a></li>
                <li><a href="#">ICETEX</a></li>
                <li><a href="#">Javeriana Cali</a></li>
                <li><a href="#">Javeriana Estéreo</a></li>
                <li><a href="#">Servicio Externo</a></li>
                <li><a href="#">Tienda Javeriana</a></li>
                <li><a href="#">SNEIES</a></li>
                <li><a href="#">Telesecopi</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <h4>Información general y legal</h4>
            <ul>
                <li><a href="#">Acuerdo No. 745 Valores de matrícula y otros derechos pecuniarios para el año 2024</a></li>
                <li><a href="#">Anexos Bogotá 2024</a></li>
                <li><a href="#">Anexos Cali 2024</a></li>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="#">Certificado de Existencia y Representación Legal</a></li>
                <li><a href="#">Términos y condiciones del sitio web</a></li>
                <li><a href="#">Estatutos de la Universidad</a></li>
                <li><a href="#">Reglamento de estudiantes</a></li>
                <li><a href="#">Reglamento del profesorado</a></li>
                <li><a href="#">Política de protección de datos personales</a></li>
                <li><a href="#">Transparencia y acceso a la información pública</a></li>
                <li><a href="#">Protocolo PAAMOS</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Sujeta a inspección y vigilancia por parte del Ministerio de Educación Nacional (artículo 39 del decreto 1295 de 2010)</p>
        <button class="scroll-up-button">▲</button>
    </div>
</footer>
