<app-header style="border: 0"></app-header>

<div class="proyecto">
  <div class="title-container">
    <h2>¿Qué es el proyecto historias de barrio?</h2>
  </div>
  <div class="historias-p">
    <p>
      Este proyecto, liderado por la Pontificia Universidad Javeriana desde
      2020, busca crear espacios de reflexión y preservar la memoria histórica
      de la UPZ La Flora. Para lograrlo, dos equipos de trabajo colaboran
      estrechamente con organizaciones territoriales: el programa social de la
      Facultad de Ingeniería, PROSOFI, y el Observatorio Javeriano de las
      Desigualdades. Juntos impulsamos un trabajo interdisciplinario que integra
      ciencias sociales, ingeniería y ciencia de datos, con el propósito de
      rescatar historias que reflejan las luchas populares y comunitarias de las
      personas en los barrios altos de Usme por el acceso a derechos esenciales,
      como el acceso al agua.
    </p>
  </div>
</div>
<div class="linea">
  <div class="title-container dos">
    <h2 class="title-linea">Línea de tiempo del proyecto</h2>
  </div>
  <div class="historias-timeline">
    <div class="historias-year">
      <h4>2020</h4>
      <p>
        PROSOFI inicia una fase diagnóstica que busca reconocer los liderazgos y
        reconstruir a partir de ellos la memoria de los barrios
      </p>
    </div>
    <div class="historias-years">
      <div class="linea-principal"></div>
      <span></span>

      <div class="year-container">
        <div class="linea-secundaria"></div>
        <span>2021</span>
      </div>
      <div class="year-container">
        <div class="linea-secundaria"></div>
        <span>2022</span>
      </div>
      <div class="year-container">
        <div class="linea-secundaria"></div>
        <span>2023</span>
      </div>
      <div class="year-container">
        <div class="linea-secundaria"></div>
        <span>2024</span>
      </div>
    </div>
  </div>
</div>

<div class="quienes-participan">
    <img src="../../assets/quienesParticipan.png" alt="">
    <h2 class="title-quienes">Conoce quienes han participado en este proyecto durante estos años</h2>
</div>

<div id="participantes-container" class="container">
  <div class="project-planning">
    <h1>Planeación del proyecto</h1>
    <h2>Personas que participaron en la fase de formulación</h2>
    <div class="participant">
      <div class="name-role">
        <p class="name">Blanca Elvira Oviedo Torres</p>
        <p class="role">Directora Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
    <hr />
    <div class="participant">
      <div class="name-role">
        <p class="name">Samuel Vanegas Mahecha</p>
        <p class="role">Director Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
  </div>
  <div class="project-planning">
    <h1 class="orange">Ejecución del proyecto</h1>
    <h2>Personas que participaron en la fase de formulación</h2>
    <div class="participant">
      <div class="name-role">
        <p class="name">Blanca Elvira Oviedo Torres</p>
        <p class="role">Directora Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
    <hr />
    <div class="participant">
      <div class="name-role">
        <p class="name">Samuel Vanegas Mahecha</p>
        <p class="role">Director Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
    <hr />
    <div class="participant">
      <div class="name-role">
        <p class="name">Samuel Vanegas Mahecha</p>
        <p class="role">Director Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
  </div>
  <div class="project-planning">
    <h1>2da fase del proyecto</h1>
    <h2>Personas que participaron en la fase de formulación</h2>
    <div class="participant">
      <div class="name-role">
        <p class="name">Blanca Elvira Oviedo Torres</p>
        <p class="role">Directora Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
    <hr />
    <div class="participant">
      <div class="name-role">
        <p class="name">Samuel Vanegas Mahecha</p>
        <p class="role">Director Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
    <hr />
    <div class="participant">
      <div class="name-role">
        <p class="name">Samuel Vanegas Mahecha</p>
        <p class="role">Director Programa social PROSOFI</p>
      </div>
      <p class="activity">Primer acercamiento a la Flora</p>
      <p class="year">2021-2022</p>
    </div>
  </div>
</div>
<app-footer style="border: 0"></app-footer>
