<app-header style="border: 0"></app-header>
<div id="intro-container" class="container">
    <div class="third">
        <p class="title">
            <span class="text-emphasis">¿Qué es el proyecto historias de barrio?</span>
        </p>
    </div>
    <div class="two-third">
        <p id="intro-paragraph">
            Bienvenidos al proyecto <span class="text-emphasis">Historias de barrio</span> un espacio que busca
            fortalecer la apropiación territorial de los habitantes de la UPZ La Flora a partir de la creación de
            historias de barrio desde un enfoque participativo de co-creación y tejido en red.
        </p>
    </div>
</div>
<div id="linea-container" class="container">
    <div class="third">
        <p id="linea-title" class="title">
            <span class="text-emphasis">Línea de tiempo del proyecto</span>
        </p>
    </div>
    <div class="two-third">

    </div>
</div>

<div id="participantes-container" class="container">
    <p id="participantes-title" class="title">
        <span class="text-emphasis">¿Quiénes han participado del proyecto hasta ahora?</span>
    </p>
    <div class="project-planning">
        <h1>Planeación del proyecto</h1>
        <h2>Personas que participaron en la fase de formulación</h2>
        <div class="participant">
            <div class="name-role">
                <p class="name">Blanca Elvira Oviedo Torres</p>
                <p class="role">Directora Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
        <hr>
        <div class="participant">
            <div class="name-role">
                <p class="name">Samuel Vanegas Mahecha</p>
                <p class="role">Director Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
    </div>
    <div class="project-planning">
        <h1 class="orange">Ejecución del proyecto</h1>
        <h2>Personas que participaron en la fase de formulación</h2>
        <div class="participant">
            <div class="name-role">
                <p class="name">Blanca Elvira Oviedo Torres</p>
                <p class="role">Directora Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
        <hr>
        <div class="participant">
            <div class="name-role">
                <p class="name">Samuel Vanegas Mahecha</p>
                <p class="role">Director Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
        <hr>
        <div class="participant">
            <div class="name-role">
                <p class="name">Samuel Vanegas Mahecha</p>
                <p class="role">Director Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
    </div>
    <div class="project-planning">
        <h1>2da fase del proyecto</h1>
        <h2>Personas que participaron en la fase de formulación</h2>
        <div class="participant">
            <div class="name-role">
                <p class="name">Blanca Elvira Oviedo Torres</p>
                <p class="role">Directora Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
        <hr>
        <div class="participant">
            <div class="name-role">
                <p class="name">Samuel Vanegas Mahecha</p>
                <p class="role">Director Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
        <hr>
        <div class="participant">
            <div class="name-role">
                <p class="name">Samuel Vanegas Mahecha</p>
                <p class="role">Director Programa social PROSOFI</p>
            </div>
            <p class="activity">Primer acercamiento a la Flora</p>
            <p class="year">2021-2022</p>
        </div>
    </div>
</div>
<app-footer style="border: 0"></app-footer>