* {
    /* border: 1px solid red; */
    font-family: "Jost", sans-serif;
    border: 0;
}

.proyecto {
    display: flex;
}

.linea{
    display: flex;
}

.proyecto .title-container {
    display: flex;
    align-items: center;
    background-color: #F36E23;
    height: 75vh;
    color: white;
    width: 35vw;
    justify-content: center;
}

.title-container{
    display: flex;
    align-items: center;
    background-color: #C93900;
    height: 75vh;
    color: white;
    width: 35vw;
    justify-content: center;
}
.title-container h2 {
    color: white;
    font-weight: 800;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 60px;
    line-height: 1.6;
}



.title-linea{
    padding-right: 1vw;
}

.historias-p {
    display: flex;
    align-items: center;
    height: 75vh;
    width: 70vw;
}

.historias-p p{
    font-size: 24px;
    line-height: 1.8;
    margin-left: 5vw;
    margin-right: 5vw;    
}
.dos{
    height: 100vh;
}


.historias-timeline {
    width: 70vw;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.historias-year {
    text-align: left;
    color: #f2571a;
    width: 100%;
    padding-left: 5vw;
}

.historias-year h4 {
    font-size: 50px;
    color: #C93900;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20vh;
}

.historias-year p {
    font-size: 22px;
    color: #525151;
    line-height: 1.4;
    width: 25vw;
    position: relative;
}

.historias-years {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    border-bottom: 13px solid #C93900;
}

.historias-years span {
    font-size: 25px;
    color: #C93900;
    font-weight: 700;
    text-align: left;
    position: absolute;
    margin-top: 2%;
}
.year-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 5vw;
    align-items: start;
}

.linea-principal{
    width: 2vw;
    background-color: #C93900;
    height: 25vh;
    z-index: 100;
}

.linea-secundaria{
    width: 2vw;
    background-color: #C93900;
    height: 15vh;
    position: relative;
    top: 10vh;
}

.quienes-participan{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #C1BD17;
    align-items: center;
}

.quienes-participan .title-quienes{
    color: white;
    font-size: 60px;
    font-weight: 800;
    width: 35%;
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
}

.quienes-participan img{
    width: 55vw;
}

#participantes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
}

#participantes-title {
    font-size: 3em;
    margin-top: 1em;
}

.project-planning {
    margin-top: 2em;
    background-color: #fff;
    padding: 20px;
    width: 75vw;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    font-size: 3em;
    color: #0047AB;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.orange{
    color: #0047AB
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.participant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.name-role {
    flex: 2;
}

.name {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.role {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.activity {
    flex: 1;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.year {
    flex: 1;
    font-size: 14px;
    color: #333;
    text-align: right;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}