<app-header style="border: 0"></app-header>
<div class="container">
    <div class="story-input">
        <label for="historia">Escribe tu historia aquí:</label>
        <div class="input-container">
            <input type="text" id="historia" #historiaInput>
            <button class="upload-btn" (click)="abrirPopup(historiaInput.value)">
                <img src="../../assets/flecha-btn.png" alt="Subir">
            </button>
        </div>
    </div>

    <div class="midsection2">
        <img class="img1" src="../../assets/contarHistoria.png" alt="">
    </div>
    <div class="midsection1">
        <blockquote class="impar">“Lorem ipsum dolor sit amet consectetur adipiscing elit, magnis netus mollis dignissim duis pharetra, sollicitudin massa vestibulum lobortis vulputate varius. Dui netus malesuada mattis phasellus euismod in placerat laoreet, mi lacus sociosqu viverra consequat justo scelerisque, sapien tortor facilisi blandit est integer molestie. Aptent eros a duis molestie cum, porttitor morbi leo sem egestas dictum, pulvinar condimentum taciti natoque.”</blockquote>
    </div>


    <div class="midsection3">
        <img class="img2" src="../../assets/contarHistoria2.png" alt="">
    </div>
    <div class="midsection4">
        <blockquote class="impar">“Lorem ipsum dolor sit amet consectetur adipiscing elit, magnis netus mollis dignissim duis pharetra, sollicitudin massa vestibulum lobortis vulputate varius. Dui netus malesuada mattis phasellus euismod in placerat laoreet, mi lacus sociosqu viverra consequat justo scelerisque, sapien tortor facilisi blandit est integer molestie. Aptent eros a duis molestie cum, porttitor morbi leo sem egestas dictum, pulvinar condimentum taciti natoque.”</blockquote>
    </div>

    <div class="midsection1">
        <blockquote class="impar">“Lorem ipsum dolor sit amet consectetur adipiscing elit, magnis netus mollis dignissim duis pharetra, sollicitudin massa vestibulum lobortis vulputate varius. Dui netus malesuada mattis phasellus euismod in placerat laoreet, mi lacus sociosqu viverra consequat justo scelerisque, sapien tortor facilisi blandit est integer molestie. Aptent eros a duis molestie cum, porttitor morbi leo sem egestas dictum, pulvinar condimentum taciti natoque.”</blockquote>
    </div>
</div>
<app-footer class="footer" style="border: 0"></app-footer>
<app-popup *ngIf="mostrarPopup" [mensaje]="mensajePopup" (cerrar)="cerrarPopup()"></app-popup>