<app-header style="border: 0"></app-header>
<div class="container">
    <div class="story-input">
        <label for="historia">Escribe tu historia aquí:</label>
        <div class="input-container">
            <input type="text" id="historia" #historiaInput>
            <button class="upload-btn" (click)="abrirPopup(historiaInput.value)">
                <img src="../../assets/flecha-btn.png" alt="Subir">
            </button>
        </div>
    </div>

    <div class="quotes-section">
        <blockquote class="impar">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="par">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="impar">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="par">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="impar">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="par">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        <blockquote class="impar">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</blockquote>
        
    </div>

    <div class="word-cloud">
        <img src="../../assets/world-cloud.png" alt="Nube de palabras">
    </div>
</div>
<app-footer style="border: 0"></app-footer>
<app-popup *ngIf="mostrarPopup" [mensaje]="mensajePopup" (cerrar)="cerrarPopup()"></app-popup>