* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.story-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 75vh;
}

.story-input label {
    font-size: 32px;
    color: #333;
    font-weight: bolder;
    width: 100vw;
    margin: 30px;
    text-align: left;
    margin-left: 23vw;
    margin-top: 15vh;
}

.input-container {
    display: flex;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    position: relative;
    bottom: 20vh;
}

.input-container input {
    width: 44vw;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 32px;
    background-color: transparent;
}


.upload-btn {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-btn img {
    width: 44px;
    height: 44px;
}

.midsection1{
    height: 50vh;
    position: relative;
    background: #F36E23;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quotes-section {
    
    padding: 20px;
    margin-bottom: 20px;
    align-content: center;
    
}

blockquote {
    font-style: italic;
    color: #ffffff;
    margin: 50px 0;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: left;
    font-size: 32px;
    width: 80vw;
}

.midsection2 {
    position: absolute;
    z-index: 100;
    margin-top: 40vh;
}

.img1{
    height: 60vh;
    width: 100vw;
}

.midsection4{
    height: 50vh;
    position: relative;
    background: #C93900;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50vh;
    margin-bottom: 45vh;
}


.midsection3 {
    position: absolute;
    z-index: 100;
    margin-top: 70vh;
}

.img2{
    height: 80vh;
    width: 100vw;
}


