<app-header style="border: 0"></app-header>
<div id="intro-container" class="container">
    <img src="../../assets/ImagenPrincipalLanding.png" class="image"/>
    <div class="two-third">
        <p id="intro-paragraph">
            Bienvenidos y bienvenidas al proyecto
            <br>
            <span class="text-emphasis">Historias de barrio</span>
            <br> 
            un espacio que nace de los intereses de los habitantes más antiguos de los barrios altos del Territorio La Flora, con el propósito de fortalecer la apropiación territorial de los habitantes a partir de la creación de historias de los barrios desde un enfoque participativo de co-creación y tejido en red.
        </p>
    </div>
</div>

<div class="container">
    <div class="half" id="first-half">
        <div class="images-container">
            <img src="../../assets/ImagenIzquierda.png" class="image-left"/>
            <img src="../../assets/ImagenCentro.png" class="image-center"/>
            <img src="../../assets/ImagenDerecha.png" class="image-right"/>
        </div>

        <p class="slogan-paragraph">
            Nosotros no creamos las historias,
            <br>
            las historias las construyes tú.
            <br>
            ¿Cómo?
        </p>
    </div>
</div>

<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-image"></div>
            <h3>Explorando el mapa interactivo</h3>
            <p>y descubriendo los tesoros ocultos de esta región del suroriente.</p>
        </div>
        <div class="card">
            <div class="card-image"></div>
            <h3>Viajando en el tiempo</h3>
            <p>Conociendo las memorias de la UPZ La Flora en la línea del tiempo.</p>
        </div>
        <div class="card">
            <div class="card-image"></div>
            <h3>Conversando con el chatbot</h3>
            <p>leyendo las historias de líderes y lideresas.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>