<app-header style="border: 0"></app-header>
<div id="intro-container" class="container">
    <div class="third"></div>
    <div class="two-third">
        <p id="intro-paragraph">
            Bienvenidos al proyecto <span class="text-emphasis">Historias de barrio</span> un espacio que busca fortalecer la apropiación territorial de los habitantes de la UPZ La Flora a partir de la creación de historias de barrio desde un enfoque participativo de co-creación y tejido en red.
        </p>
    </div>
</div>

<div class="container">
    <div class="half" id="first-half">
        <p class="slogan-paragraph">
            Nosotros no creamos las historias, las historias las construyes tú.
        </p>
    </div>
    <div class="half">
        <p class="slogan-paragraph">
            ¿Cómo?
        </p>
        <p class="slogan-paragraph slogan-detail">
            Interactúa con el mapa y conoce tesoros escondidos en este territorio del suroriente. 
        </p>
        <p class="slogan-paragraph slogan-detail">
            Haz un viaje en el tiempo mirando los jugando con la línea del tiempo        </p>
        <p class="slogan-paragraph slogan-detail">
            Chatea con nuestro chatbot y conoce las historias de otros        </p>
    </div>
</div>

<div class="container">
    <div class="two-fifth">
        <span class="title-emphasis">Quiero conocer el mapa</span>
        <p class="features-paragraph">
            Ingresa al mapa interactivo de La Flora y conoce las institutuciones exitentes en el territorio
        </p>
    </div>
    <div class="three-fifth">
        <div id="image-container">
            <!-- <img src="../../assets/mockup-mapa.png" id="image-mapa"> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="two-fifth">
        <span class="title-emphasis">Quiero hablar con el chatbot</span>
        <p class="features-paragraph">
            Hazle preguntas, te contará historias de habitantes de La Flora 
        </p>
    </div>
    <div class="three-fifth"></div>
</div>
<div class="container">
    <div class="two-fifth">
        <span class="title-emphasis">Quiero viajar en el tiempo</span>
        <p class="features-paragraph">
            Conoce las líneas del tiempo de la UPZ La Flora, descubre momentos históricos de la UPZ
        </p>
    </div>
    <div class="three-fifth"></div>
</div>

<app-footer></app-footer>